.awebon-container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .awebon-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .awebon-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .awebon-container {
    width: 1170px;
  }
}
.awebon-container:before,
.awebon-container:after,
.awebon-row:before,
.awebon-row:after,{
    display: table;
    content: " ";
}
.awebon-row:after,
.awebon-container:after{
    clear:both;
}
.awebon-col-xs-1, .awebon-col-sm-1, .awebon-col-md-1, .awebon-col-lg-1, .awebon-col-xs-2, .awebon-col-sm-2, .awebon-col-md-2, .awebon-col-lg-2, .awebon-col-xs-3, .awebon-col-sm-3, .awebon-col-md-3, .awebon-col-lg-3, .awebon-col-xs-4, .awebon-col-sm-4, .awebon-col-md-4, .awebon-col-lg-4, .awebon-col-xs-5, .awebon-col-sm-5, .awebon-col-md-5, .awebon-col-lg-5, .awebon-col-xs-6, .awebon-col-sm-6, .awebon-col-md-6, .awebon-col-lg-6, .awebon-col-xs-7, .awebon-col-sm-7, .awebon-col-md-7, .awebon-col-lg-7, .awebon-col-xs-8, .awebon-col-sm-8, .awebon-col-md-8, .awebon-col-lg-8, .awebon-col-xs-9, .awebon-col-sm-9, .awebon-col-md-9, .awebon-col-lg-9, .awebon-col-xs-10, .awebon-col-sm-10, .awebon-col-md-10, .awebon-col-lg-10, .awebon-col-xs-11, .awebon-col-sm-11, .awebon-col-md-11, .awebon-col-lg-11, .awebon-col-xs-12, .awebon-col-sm-12, .awebon-col-md-12, .awebon-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
    .awebon-col-lg-6,.awebon-col-lg-12,.awebon-col-lg-8,.awebon-col-lg-4 {
        float: left;
      }
      .awebon-col-lg-12 {
        width: 100%;
      }
      .awebon-col-lg-6{
        width:50%;
      }
      .awebon-col-lg-8{
        width:75%;
      }
      .awebon-col-lg-4{
        width:25%;
      }
}

.awebon-roibg {
    background-image: url("../images/roibg.jpg");
    background-repeat: no-repeat;   
    height: 900px;
}

.awebon-quizbox{
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    height: 85%;
    background-color: #D8D8D8;
    opacity: 0.9;
    border: 4px solid #0380E2;
}


@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

p.saving{
    margin:0px;
    padding:0px;
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}

.saving span:nth-child(4) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .5s;
}

.saving span:nth-child(5) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .6s;
}

.saving span:nth-child(6) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .7s;
}

.saving span:nth-child(7) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .8s;
}

.saving span:nth-child(8) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .9s;
}

.saving span:nth-child(9) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: 1s;
}

.saving {
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 25px;
}

.quizbox {
	left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: relative;
    width: 70%;
    height: 85%;
    background-color: #D8D8D8;
    opacity: 0.9;
    border: 4px solid #0380E2;
}

.quizheading {
	text-align: center;
	font-family:'Open Sans', Arial, Helvetica, sans-serif;
	width:100%;
	font-style: italic;
	font-size: 30px;
	font-weight: lighter;
	padding-top: 30px;
    padding-bottom: 0px;
    -webkit-animation-delay: 1s;
    color: #0380E2; 
}

.quizheading2 {
    text-align: center;
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    width:100%;
    font-style: italic;
    font-size: 30px;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 0px;
    -webkit-animation-delay: 1s;
    color: #0380E2; 
}

.quizquestion {
	    text-align: left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-animation-delay: 2s;
    color: #000;
}

.quizquestion2 {
    text-align: left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 15px;
    -webkit-animation-delay: 2s;
    color: #000;
}


.ans-img{
    -webkit-animation-delay: 3s;
 }

input[type="button"].quizanswer {
	text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 70%;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;    
    color: #fff;
    background-color: #0380E2;
    /* margin: 0 auto; */
    margin-bottom: 10px;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    border-bottom: 2px solid #006ec3;
    -webkit-box-shadow: inset 0 -2px #006ec3;
    box-shadow: inset 0 -2px #006ec3;
}


.quizanswer:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type="button"].quizanswer2 {
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 80%;
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;    
    color: #fff;
    background-color: #0380E2;
    /* margin: 0 auto; */
    margin-bottom: 10px;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border: 0;
    border-bottom: 2px solid #006ec3;
    -webkit-box-shadow: inset 0 -2px #006ec3;
    box-shadow: inset 0 -2px #006ec3;
}

.ans-heading{
    margin-left:52px;
}
.ans-container{
    margin-bottom:15px;
}
.quizanswer2:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.firsthalf {
    width: 50%;
    height: 100%;
    text-align: left;
    padding-left: 50px;
    float:left;
    -webkit-animation-delay: 3s;
}

.secondhalf {
    width: 50%;
    height: 100%;
    float: left;
    -webkit-animation-delay: 3s;
}

.secondhalf2 {
    width: 50%;
    height: 100%;
    float: left;
    -webkit-animation-delay: 3s;
    padding-top: 20px;
}

.imgeicon {
    width: 150px;
    height: 150px;
    -webkit-animation-delay: 7s;
    display:block;
    margin:auto;
}
.big-imgeicon {
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 7s;
    display:block;
    margin:auto;
}

.smallicon {
    width: 40px;
    height: 40px;
    -webkit-animation-delay: 8s;
    margin-right: 10px;
    margin-top: 6px;
}   
.displayresult{
	color: #63615f;
    font-family:  "Open Sans",Arial,Helvetica,sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px;
	text-align: left;
}
.displayresult span{
	display: inline;
    float: right;
	padding-right: 30px;
}
.roi-display{
    font-size:19px;
    border-top:3px solid #605f5b;
    padding-top:10px;
    text-align:left;
}
.legend-container{
    margin-bottom:20px;
	font-size:14px;
}
.legend1{
    background-color: #3366CC;
    display: inline-block; 
    margin-right: 5px; 
    margin-top: 4px; 
    width: 15px; 
    height: 15px; 
}
.legend2{
    background-color: #DC3912;
    display: inline-block; 
    margin-right: 5px; 
    margin-top: 4px; 
    width: 15px; 
    height: 15px; 
}
.awebon-roi-result-box{
    text-align: center;
}
.awebon-text-center{
    text-align: center;
}
@media (max-width: 767px) {
  .awebon-hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .awebon-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 768px) {
    .quizheading,.quizheading2 {
        font-size:40px;
    }
    input[type="button"].quizanswer,input[type="button"].quizanswer2 {
        font-size: 25px;
    }
   .quizquestion,.quizquestion2 {
        font-size: 30px
   }
     .awebon-roi-graph-container{
        margin-top: -46px;
    }
    .smallicon {
        width: 50px;
		height: 50px;
    }
	.displayresult {	
		font-size:20px;
	}
	.roi-display{
		font-size:20px;
	}
}
@media (min-width: 992px) {

  .awebon-quizbox {
    width: 70%;
  }
  .awebon-roibg {
    height: 500px;
  }
  .smallicon {
    width: 50px;
  }
    .ans-container{
    margin-bottom:0px;
    }
     .quizheading,.quizheading2 {
        font-size:30px;
    }
    input[type="button"].quizanswer,input[type="button"].quizanswer2 {
        font-size: 20px;
    }

   .quizquestion,.quizquestion2 {
        font-size: 20px
   }
}
@media (min-width: 1200px) {
  .awebon-quizbox {
    width: 70%;
  }
  .awebon-roibg {
    height: 500px;
  }
  .smallicon {
    width: 50px;
  }
  .awebon-roi-result-box{
    text-align: left;
    }
    .legend-container {
    margin-top: -46px;
    }
    .awebon-roi-graph-container{
        margin-top: -46px;
    }
  .awebon-hidden-ls {
    display: none !important;
  }
  .ans-container{
    margin-bottom:0px;
    }
    .quizheading,.quizheading2 {
        font-size:30px;
    }
    input[type="button"].quizanswer,input[type="button"].quizanswer2 {
        font-size: 20px;
    }
   .quizquestion,.quizquestion2 {
        font-size: 20px
   }
}